:root {
    --primary: #094074;
    --secondary: #3c6997;
    --bb: #5adbff;
    --tertiary: #ffdd4a;
    --quarter: #fe9000;
}

*{
    color:black;
 }

.Home {
    height: 1700px;
    background-color: var(--primary);
}

.intro {
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    background-color:var(--tertiary);
    margin: 3rem 5rem;
}

.intro-info {
    display: flex;
    flex-direction: column;
}

.intro-image {

}


.Trending{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    margin: 3rem 5rem;
}

.services{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    background-color:var(--tertiary);
    margin: 3rem 5rem;
}

.trusted{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    background-color:var(--secondary);
    margin: 3rem 5rem;
}


.Home{
    display: flex;
    flex-direction: column;
  background-color: var(--primary);
  height: 1600px;
  justify-content: space-between;
  } 
  
  .intro{
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--tertiary);
  }
  
  .intro-info{
   padding: 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
  }
  
  .services{
    display: flex;
    flex-direction: column;
  }
  
  
  .serviceheading{
    font-size: 20px;
    
    
    }
  
  
  .service1{
    font-size: 20px;
    padding-top: 30px;
    background-color: floralwhite;
  }
  
  .service2{
    font-size: 20px;
    background-color: floralwhite;
    padding-top: 30px
  }
  
  .service3{
    border-radius: 0%;
    font-size: 20px;
    padding-top: 30px;
    background-color: floralwhite;
  }
  
  .service4{
     font-size: 20px;
    background-color: floralwhite;
    padding-top:25px ;
  }
  
  .service5{
    font-size: 20px;
    padding-top: 25px;
    background-color: floralwhite;
    
    font-weight: 60px;
    }
  
  .xpstore{
    font-size: 90px;
    font-weight:4%;
  }
  .para{
    font-size: 15px;
  }
  .welcome{
   font-size: 30px ;
   font-weight: 3%;
  }
  
  