:root {
  --primary : #094074;
  --secondary: #3c6997;
  --bb:#5adbff; 
  --tertiary:  #ffdd4a;
  --quarter:#fe9000;
}

.App {
  text-align: center;
  align-items: center;
}


.body {
  width: 100%;
  height: 100%;
  position: absolute;
}

.Navbar {
  background-color:beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  /* border: 2px solid grey  ; */
  box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.31)
  
 }

.Navbar-link{
  margin: 7px;
}

.store-icon{
  padding-bottom: 2px;
  margin-bottom: 2px;
  height: 30px;
  font-size: 50px;
}

.Navbar-link {
  cursor: pointer;
  padding: 1rem 1rem;
  /* border: 1px  var(--bb)   solid; */
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  align-items: center;
  font-weight: 4%;
  font-size: 17px;
  
}

.Navbar-link:hover {
  color:white;
  /* border : 1px var(--primary) solid; */
  transition: ease;
  background-color: grey;
}

.cart-img { 
  width: 40px;
  height: 40px;
  padding-top:2px;
  padding-right: 7px
}
  
  


