.App {
  text-align: center;
  align-items: center;
}

.body::-webkit-scrollbar {
  display: none;
  width: 100%;
  height: 100%;
}


.Navbar {
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 3rem;
  z-index: 999;
  position: fixed;
  width: 100%;
  margin-bottom: 3rem;
  backdrop-filter: blur(10rem);
}


.store-icon {
  font-size: 1.5rem;
  width: 9.2rem;
  cursor: pointer;
}

.Navbar-link {
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: #000;
  text-decoration: none;
  align-items: center;
  font-weight: 4%;
  font-size: 0.9rem;
  margin: 7px;
}

.Navbar-link:hover {
  color: black;
  transition: ease;
  background-color:#ceb9e5;
  transform: scale(2);
  font-size: 1rem;
}

.About {
  padding-top: 4rem;
  background: linear-gradient(#ffcfcf, #9198e5);
  height: 120rem;
}

.textbox {
  padding: 2rem;
}

.contactPage {
  background: linear-gradient(#ffcfcf, #9198e5);
  padding-top: 3rem;
  height: 47rem;
}


.CartAddButton {
  width: 150px;
  height: 40px;
  background-color: orangered;
  font-size: 15px;
  padding-left: "10px";
  color: white;
  border: none;
}

.wishlistAddButton {
  width: 150px;
  height: 40px;
  font-size: 15px;
  padding-left: "10px";
  border: none;
  background-color: rgb(238, 7, 122);
  cursor: pointer;
  color: white
}

.CartAddButton:hover {
  color: white;
  transform: scale(1.2);
}

.wishlistAddButton:hover {
  transform: scale(1.2);
  color: rgb(238, 7, 122)
}

.material-symbols-outlined display {
  background-color: rgb(238, 7, 122);
  border: 1px solid white;
  color: rgb(238, 7, 122)
}

.material-symbols-outlined {
  cursor: pointer;
  /* color:rgb(238, 7, 122); */
}

.material-symbols-outlined:hover {
  transform: scale(1.2);
}

.singleItem {
  width: 18rem;
  height: 24rem;
  background-color: white;
}

.wishlist {
  width: 100%;
  height: 100rem;
  padding-top: 3rem;
  background: linear-gradient(#ffcfcf, #9198e5);
}

.cart {
  padding-top: 3rem;
  background: linear-gradient(#ffcfcf, #9198e5);
  height: 250rem;
}

.cartbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem;
  justify-content: space-around;
  width: 70rem;
  margin-left: 17rem;
  gap: 1.7rem;
  background: linear-gradient(#9198e5, #ffcfcf, );
  border: 0.1px solid white;
}

.cart-dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.singleproductpage {
  background: linear-gradient(#ffcfcf, #9198e5);
  padding-top: 4.3rem;
}